@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;200;300&family=Courgette&family=Fjalla+One&family=Fredoka+One&family=Lexend+Deca:wght@100;200;300&family=Poppins:wght@200;400;500&family=Secular+One&family=Yanone+Kaffeesatz:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
     background-image: url(images/desktop\ view.png);
     background-position: center;
     background-size: cover;
     background-color: hsl(0, 100%, 74%);
     font-family: 'Poppins', sans-serif;
     font-size: 16px;
}
main{
    margin-top: 100px;
    padding: 50px;
    min-height: 100vh; 
}
.grid-container{
    display: grid;
    column-gap: 4em;
    row-gap: 5.5em;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}
.bottom-box{
    background-color: #ffffff;
    border-radius: 7px;
    box-shadow: 1px 6px 3px rgba(48, 46, 56, 0.6);
}
.words{
    width: 75%;
    margin: 50px 90px 2px 90px;
    color: #ffffff;
}
.words >p{
    color: #f3ebeb;
}  
.registration{
    display: flex;
    flex-direction: column;
    gap: 17px;
    margin-top: -4em;
}
#top-btn{
    background-color: hsl(248, 32%, 49%);
    border: 1px solid hsl(248, 32%, 49%);
    box-shadow: 1px 6px 3px rgba(48, 46, 56, 0.6);
    text-align: center;
    color: #ffffff;
    padding:20px;
    border-radius: 6px;
    transition: 0.3s;
}
#top-btn, #submit{
    cursor: pointer;
}
#top-btn:hover{
    border: 1px solid hsl(249, 10%, 26%);
    background-color:  hsl(249, 10%, 26%);
}
@media only screen and (max-width:375px){
    main{
       margin:0 auto;
       padding:0 auto;
    }
    .words{
        margin: 0;
        padding: 0;
    }
    #top-btn{
        width: 90%;
    }
    .bottom-box{
        width: 90%;
    }
    input{
        width: 100%;
    }
 } 
form{
    padding: 3em;
}
input{
    border: 1px solid rgb(194, 188, 188);
    width: 100%;
    padding: 1em;
    border-radius: 5px;
}
input::placeholder, .terms, #submit{
    font-weight: 600;
}
.terms{
    font-size: 10px;
    color: hsl(246, 25%, 77%);
    text-align: center;
}
.terms a{
    text-decoration: none;
    color: hsl(0, 100%, 74%);
    font-weight: 700;
}
#submit{
    background-color: hsl(154, 59%, 51%);
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.3s;
}
#submit:hover{
    border: 1px solid hsl(154, 46%, 47%);
    background-color: hsl(154, 46%, 47%);
}


    



